<div class="mobile">
  <svg class="icons">
    <!-- Tinder Icon -->
    <a href="/qdate/search" class="tinder">
      <path class="tinder" d="M40,10 Q60,25 50,38 Q40,47 30,38 Q23,25 35,20 Q33,25 37,25 Q43,20 40,10 Z" fill="#FC735D"/>
    </a>

    <!-- Messages Icon -->
    <a href="/qdate/chat" class="messages">
      <circle class="big-circle" cx="150" cy="26" r="15" fill="#e6e6e6"/>
      <circle cx="142" cy="26" r="2.5" fill="#ffffff"/>
      <circle cx="150" cy="26" r="2.5" fill="#ffffff"/>
      <circle cx="158" cy="26" r="2.5" fill="#ffffff"/>
      <circle class="notification-circle" cx="165" cy="15" r="5" fill="#FC735D" stroke="#ffffff" stroke-width="2"/>
      <polygon class="poly" points="140,33 143,39 136,41" fill="#e6e6e6"/>
    </a>

    <!-- Profile Icon -->
    <a href="/qdate/profile" class="profile">
      <circle cx="260" cy="26" r="15" fill="#e6e6e6"/>
      <circle cx="260" cy="22" r="5" fill="#ffffff"/>
      <path d="M246,36 q14,-14 27,0 q-13,12 -26,0 Z" fill="#ffffff"/>
    </a>
  </svg>
</div>
