<app-header></app-header>
<div class="profile-wrapper">
  <div class="profile">
    <div class="container">
      <div class="profile-header">
        <div class="profile-img">
          <img src="assets/logo.png" width="200" alt="Profile Image">
        </div>
        <div class="profile-nav-info">
          <h3 class="user-name">{{currentUser.username}}</h3>
          <div class="address">
            <p id="state" class="state">{{currentUser.city}},</p>
            <span id="country" class="country">{{currentUser.country}}.</span>
          </div>

        </div>
        <div class="profile-option">
          <div class="notification">
            <i class="fa fa-bell"></i>
            <span class="alert-message">3</span>
          </div>
        </div>
      </div>

      <div class="main-bd">
        <div class="left-side">
          <div class="profile-side">
            <p class="mobile-no"><i class="fa fa-phone"></i> +23470xxxxx700</p>
            <p class="user-mail"><i class="fa fa-envelope"></i> Brightisaac80@gmail.com</p>
            <div class="user-bio">
              <h3>Bio</h3>
              <p class="bio">
                {{currentUser.description}}
              </p>
            </div>
            <div class="profile-btn">
              <button class="createbtn" id="Create-post" (click)="setEditState()"><i class="fa fa-plus"></i> Update profile</button>
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="profile-body">
            <div class="profile-posts tab">
              <div id="faq">
                <h1>QUESTIONS</h1>
                <ul>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>What are you looking?</h2>
                    <p>{{currentUser.questions.main_question}}</p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>How would you describe yourself?</h2>
                    <p>{{currentUser.questions.biography_question}}</p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Where did you go on your last trip?</h2>
                    <p>{{currentUser.questions.travel_question}}</p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>How many meals do you typically eat in one day?</h2>
                    <p>{{currentUser.questions.food_question}}</p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Can you describe your current job?</h2>
                    <p>{{currentUser.questions.work_question}}.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-window *ngIf="isEdit"></app-modal-window>
